services:
  bot:
    container_name: mk8dx-bot
    image: ghcr.io/probablyjassin/bot-mk8dx:latest
    restart: unless-stopped
    volumes:
      - ./state:/app/state
      - ./logs:/app/logs
      - ./backups:/app/backups
      - ./room.config.json:/app/room.config.json
    env_file:
      - .env
  # Uncomment to enable watchtower (if not already existant on the host)
  #watchtower:
  #  image: containrrr/watchtower
  #  volumes:
  #    - /var/run/docker.sock:/var/run/docker.sock
  #  command: --interval 120 --cleanup # check every 2 minutes
  #  restart: unless-stopped
