DISCORD_TOKEN="AAAAAAAAAAAAAAAAAAAAAAAAAA.XXXXXX.abcdefghijklmnopqrstuvwxyz1234567890"

MONGO_URI="mongodb+srv://user:pass@my-cluster.mongodb.net/"
LOUNGE_DB="lounge_prod"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD="your_secure_password_here"

PASSWORD_API_PASS="abcdefg"

HEALTHCHECK_URL="http://my-yuzu-api.com/healthcheck"