{
    "season": 1,
    "formats": ["FFA", "2v2", "3v3", "4v4", "5v5", "6v6"],
    "rooms": [
        {
            "name": "Yuzu EU Server 1",
            "address": "192.168.1.1",
            "port": 3000
        },
        {
            "name": "Yuzu EU Server 2",
            "address": "192.168.1.2",
            "port": 3001
        },
        {
            "name": "Yuzu NA Server 3",
            "address": "192.168.1.3",
            "port": 3002
        }
    ],
    "debug_feature_flags": {
        "no_min_players": false,
        "hold_mogis": false,
        "show_votes": false,
        "random_teams": false
    }
}