# Discord API
py-cord==2.7.0rc1
pycord-multicog

# MongoDB
pymongo
motor

# Environment Variables
python-dotenv

# Tables
matplotlib
pandas
dataframe_image

# Other
aiohttp
colorlog
rapidfuzz
python-Levenshtein
jishaku