git+https://github.com/Pycord-Development/pycord.git@dbd9f1bcc75524d757cce45fbc43009e53aed251
pycord-multicog
python-dotenv
aiohttp
pymongo
colorlog

matplotlib
dataframe_image
pandas

mk8dx-table-reader==0.5.2