{
	"rooms": [
		{
			"name": "Yuzu Server 1",
			"region": "EU",
			"address": "192.168.1.100",
			"port": 3000
		}
	],
	"yuzu_api_url": "api.ynet-fun.xyz",
	"yuzu_server_ip": "192.168.1.100",
	"yuzu_port_main": 5000,
	"yuzu_port_lounge": 3000,
	"password_api_url": "https://yuzu.site/api/passwd",
	"table_reader_url": "http://yuzu.site/api/v1/read-table"
}
